<!DOCTYPE html>
<html lang="en">
<!-- ... -->
<body>
    <div class="box">
      <div class="heading">
        <h1>Greeting</h1>
      </div>
      <p class="messageError warning center"></p>
      <div class="name-input">
        {{#if errorMessage}}
        <p class="message warning center alert-danger">{{errorMessage}}</p>
        {{/if}}
        {{#if infoMessage}}
        <p class="message info center alert-success">{{infoMessage}}</p>
        {{/if}}
        <form action="/greetings" method="POST">
          <div class="enter">
            <label for="name-area" id="Name">Name</label>

            <input type="text" name="name" value="" placeholder="enter your name " class="name-area" />
            <span id="NameGreetingCount">Greetings</span><span class="numGreetings">{{counter}}</span>
          </div>
          <p class="message2 warning center"></p>
          <div class="langs">
            <label class="block">
              <input type="radio" name="language" class="language" value="Hello" />
              <span class="label-body">English</span>
            </label>
            <label class="block">
              <input type="radio" name="language" class="language" value="Sawbona" />
              <span class="label-body">isiZulu</span>
            </label>
            <label class="block">
              <input type="radio" name="language" class="language" value="Molo" />
              <span class="label-body">isiXhosa</span>
            </label>
          </div>
          <div class="buttons">
            <button class="greetNameButton" type="submit" name="button">
              Greet me
            </button>
            </div>
        </form>
        <div class="buttons">
        <form action="/reset" method="POST">
          <button class="resetNameButton" type="submit" name="button">
            Reset Names
          </button>
        </form>
          <a href="/greeted">
            <button class="greetNameButton" type="submit" name="button" id="getName">
              Greeted names
            </button>
          </a>
          </div>

      </div>
      <p class="resetMessage info center"></p>
      <div class="greeting">
        <span class="outputGreeting">{{language}}</span>
        <span class="outputName">{{name}}</span>
      </div>
    </div>
  </body>
  <script>
  // Automatically remove error and success messages after 2 seconds
  setTimeout(function () {
    $('.alert-danger, .alert-success').fadeOut('slow');
  }, 3000);
</script>
</html>
